CSS_ROOT_FILE_PATH=/var/lib/setmeld/data
CSS_PORT=3000
CSS_BASE_URL=http://localhost:3000/
CSS_SOCKET=
CSS_LOGGING_LEVEL=info
CSS_CONFIG=/usr/lib/setmeld-pod/config/config.json
CSS_SPARQL_ENDPOINT=
CSS_SHOW_STACK_TRACE=false
CSS_POD_CONFIG_JSON=
CSS_SEED_CONFIG=
CSS_MAIN_MODULE_PATH=/usr/lib/setmeld-pod/
CSS_WORKERS=1
